Source: blubuntu
Section: gnome
Priority: extra
Maintainer: Nattawut Phetmak <neizod@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://github.com/neizod/blubuntu

Package: blubuntu
Architecture: all
Depends: blubuntu-lightdm,
         blubuntu-plymouth,
         blubuntu-paintings,
         ${misc:Depends}
Description: Blubuntu (metapackage) - turns Ubuntu into blue!

Package: blubuntu-lightdm
Architecture: all
Depends: blubuntu-paintings,
         ${misc:Depends}
Description: Blubuntu LightDM - login screen.

Package: blubuntu-plymouth
Architecture: all
Depends: ${misc:Depends}
Description: Blubuntu Plymouth - grub / start & shutdown.

Package: blubuntu-paintings
Architecture: all
Depends: ${misc:Depends}
Description: Blubuntu Paintings - wallpapers.
