Source: blubuntu
Section: gnome
Priority: extra
Maintainer: Nattawut Phetmak <neizod@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://github.com/neizod/blubuntu

Package: blubuntu
Architecture: all
Depends: blubuntu-ambiance,
         blubuntu-lightdm,
         blubuntu-plymouth,
         blubuntu-paintings,
         ${shlibs:Depends},
         ${misc:Depends}
Description: Turns Ubuntu into blue!
 This is metapackage which providing all pieces of Blubuntu.

Package: blubuntu-ambiance
Architecture: all
Depends: blubuntu-paintings,
         gtk2-engines-murrine,
         gtk3-engines-unico,
         ${shlibs:Depends},
         ${misc:Depends}
Description: Blue Ambiance theme.
 This package contains and set up Ambiance theme with blue tone.

Package: blubuntu-lightdm
Architecture: all
Depends: blubuntu-paintings,
         lightdm,
         ${shlibs:Depends},
         ${misc:Depends}
Description: Blue LightDM login screen.
 This dependency package set up LightDM login screen with blue tone.

Package: blubuntu-plymouth
Architecture: all
Depends: plymouth,
         ${shlibs:Depends},
         ${misc:Depends}
Description: Blue GRUB and splash.
 This package contains and set up GRUB and Plymouth theme in blue tone.

Package: blubuntu-paintings
Architecture: all
Depends: ${misc:Depends}
Description: Blue paintings as wallpapers.
 This package contains paintings of blue tone that shall be use as wallpapers.
